<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.chr.hex.general.mapper.Dept2roleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.chr.hex.general.entity.Dept2role">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="role_id" property="roleId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, role_id, create_time
    </sql>

</mapper>
