<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.chr.hex.general.mapper.TFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.chr.hex.general.entity.TFile">
        <id column="id" property="id" />
        <result column="file_name" property="fileName" />
        <result column="minio_bucket" property="minioBucket" />
        <result column="minio_object_path" property="minioObjectPath" />
        <result column="file_size" property="fileSize" />
        <result column="file_type" property="fileType" />
        <result column="upload_time" property="uploadTime" />
        <result column="upload_user" property="uploadUser" />
        <result column="status" property="status" />
        <result column="process_progress" property="processProgress" />
        <result column="fail_reason" property="failReason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_name, minio_bucket, minio_object_path, file_size, file_type, upload_time, upload_user, status, process_progress, fail_reason
    </sql>

</mapper>
